/* /home/victor/Documentos/esplaiProjects/Freecipe/clienteRecetas/src/components/Home.css */

body {
	background-image: url('assets/mainP-01.png');
	background-size: cover;
	background-position: center;
}