
  .ModalContent1{
    color:white;
  }
  .ModalContent2{
    color: white;
  }
  .ModalFooter{
    display: flex;
    flex-direction: row;
    color:#a8975e;
    background-color: black !important;
    opacity: 0.8 !important; 
  }
  .imagen {
    width: 100%; 
    height: auto; 
    display: block; 
   
  }
  .ImagenModal{
    margin: 0 auto;
    padding: 0px;
  }
  
  
  .titulo{
    display: block;
    color: #a8975e;
    text-transform: uppercase !important; 
    text-decoration: underline; 
    text-decoration-color: white; 
    text-decoration-line: underline;
  }