* {
  padding: 0px;
  margin: 0px;
}



 /*
 .search-container.col{
	position: fixed;
}
  */


 .card {
    width: 35%;
    min-width: 200px;
    height: 300px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    font-family: "Montserrat", sans-serif;
    max-height: max-content;
    white-space: nowrap;     /* Evita que el texto se ajuste en múltiples líneas */
    overflow: hidden;        /* Oculta el contenido que se desborde del contenedor */
    text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
}

  .image {
    max-width: 100%;
    height: auto;

  }
  .Image-container { 
    position: relative; /* Posiciona este contenedor de manera relativa */ 
    width: 100%; 
    height: 100%; 
  }

  .color{
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
background-color: #bcaf75; 
opacity: 0.1; 
  }
  
  .text-container {
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #bcaf75;
    margin: 0;
  }
  
  .calories {
    font-size: 16px;
    color: #bcaf75;
    margin: 10px 0;
  }
  
  .button {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #bcaf75;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #a8975e;  
  }
  a:hover {
    color: white;
  }
  