.search-container {
	height: 80vh;
	width: 600px;
	padding: 5px;
	display: flex;
	justify-content: center;
	background-color: rgba(229, 207, 134, 0.9);
	position:sticky;
	top: 20px;
}
.link{	
	left:5px;
	/* position:sticky;

	top:5px; */
}
.botonR{
	border: 2px solid rgb(109, 107, 107) !important;
	background-color: transparent !important;
	width:100%;
	margin:5px;
	text-transform: uppercase !important;
	color:black !important;
}
.tiempo{
	color:  rgba(229, 207, 134, 0.9);
}

.search-filter {
	display: flex;
	width: 500px;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 20px;
}

.checkbox-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
	accent-color: rgb(188, 175, 117);
	color: rgb(188, 175, 117);
}

.checkbox-container label {
	margin-left: 10px;
}

.checkbox-container input {
	width: auto;
	padding: 0;
	margin-bottom: 0;
	border: none;
	color: rgba(229, 207, 134, 0.5);
}

.search-filter input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	background-color: rgb(188, 175, 117);
	color: white;
	border-radius: 4px;
}

.search-filter button {
	padding: 10px 20px;
	background-color: rgb(188, 175, 117);
	margin: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.search-container button:hover {
	background-color: rgb(188, 175, 117);
}

.submitted-ingredients {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.custom-placeholder::placeholder {
  color: white;
}

.ingredient-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(188, 175, 117);
  color: white;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 4px;
  width: auto;
}

.ingredient-item button {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0px;
  padding-left: 5px;
  padding-right: 2px;
  margin: auto;
}
