.App {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 5%;
  align-self: center;
  color: white;
}

u{
  color: white;
}

fieldset {
  display: flex;
  width: 480px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
}

sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

input,
select {
  border-radius: 15px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
  background-color: grey;
  color: white;  /* White text */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);  /* Box shadow */
}

input::placeholder,
select::placeholder {
  color: white;  /* Placeholder text color (you can change it to any color) */
}

#root{
  background-color: rgba(226, 208, 136, 0.9);
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.Field input[type="radio"],
.Field input[type="checkbox"] {
  margin-right: 10px;  
  align-self: center;
  margin-left: 10px;  
}

body{
  background-image: url('https://raw.githubusercontent.com/victorgorka/Freecipe/refs/heads/main/Design/mainP-01.png?token=GHSAT0AAAAAAC46BJTTT4J2CZT6VQQDJVBYZ4FJA6A');
  background-size: cover;  /* Scales the background to cover the entire container */
  background-position: center;  /* Centers the image within the container */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  height: 100vh;  /* Ensures the body takes up the full viewport height */
  margin: 0;  /* Removes default margin */
}

.Field label {
  font-size: 14px;
  display: inline-flex;
  align-items: center;  /* Align label text vertically with the input */
}

.Field > input {
  margin-right: 10px;  /* Space between Nombre and Apellidos */
}

.Field-col {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.Field > input:nth-child(2) {
  margin-left: 10px;  /* Space between Altura and Peso */
}

.FieldError {
  position: absolute;
  bottom: -350px;
  color: red;
  font-size: 12px;
}

.Row {
  display: flex;
  flex-direction: row;
}

button {
  padding: 10px;
  width: 240px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
